@import '../../styles/variables';

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all .2s ease-in-out;

  &:hover,
  &--active {
    background-color: rgba($orange, .1);
  }

  &__title {
    font-weight: 600;
    margin-bottom: 3px;
  }

  &__time {
    display: inline-block;
    background-color: rgba($orange, .3);
    padding: 2px 4px;
    border-radius: 4px;
  }

  &__left {
    display: flex;
    align-items: center;

    & > *:first-child {
      margin-right: 10px;
    }
  }

  &__remove {
    visibility: hidden;
    .task:hover & {
      visibility: visible;
    }
  }

  &__controls {
    display: flex;
  }
}