.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
  }
}