@import "../../styles/variables";

.add-task {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;

  &__input {
    padding: 6px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      border-color: rgba($orange, .8);
    }
  }
}